/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 100%;
    min-height: 768px;
}

#container .tj-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

#container .tj-section .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .tj-section .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left-sm {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right-lg { 
    float: left;
    width: 830px;
    height: 100%;
}

.column-left-sm .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.column-right-lg .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right-lg .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right-lg .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right-lg .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right-lg .menubar > ul > li > a:hover, 
.column-right-lg .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .tj-section-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .tj-section-top-text h1 {
    color: #FFF;
}

#container .row .tj-section-top-text p {
    color: #FFF;
    margin: 0 0 55px 0;
}

.separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid #00e0d0; 
}

.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}

.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

/* ========================================================================== */

#container .white-section {

    width: 960px;
    margin: 0 auto;
    display: block;
    height: 400px;
    background-color: white;
    background-size: cover;
}

#container .column-left {
    float: left;
    width: 400px;
    height: 100%;
}

#container .column-right { 
    float: left;
    width: 540px;
    height: 100%;
}

#container .column-left-img {
    width: 150px;
    height: 200px;
    margin: 70px 0 0 70px;
    display: block;
}

#container .row .white-section-text {
    float: left;
    width: 100%;
    padding: 40px 0;
    text-align: left;
}

#container .row .white-section-text h1 {
    color: #000;
}

#container .row .white-section-text p {
    color: #000;
    margin: 0 0 20px 0;
}

.row .white-section-text .button-sm-dark:hover {
    color: #000;
    border: 1px solid #000;
}

/* ========================================================================== */

#container .tj-section-sm {
    width: 100%;
    display: block;
    height: 550px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/2nd-background.png');
    background-size: cover;
}
    
#container .tj-section-sm .column1 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: block;
}

#container .tj-section-sm .column1 .column1-img {
    width: 140px;
    height: 100px;
    padding: 200px 410px 250px 410px;
    display: block;
}

#container .tj-section-sm .column1 .column1-img a {
    text-decoration: none;
}

#container .column1 .column1-img p {
    color: #FFF;
    font-size: 12px;
    margin: 20px 0 0 0;
}

/* ========================================================================== */

#container .white-section-bg {

    width: 960px;
    height: 750px;
    margin: 0 auto;
    display: block;
    background-color: white;
    background-size: cover;
}

#container .white-section-bg .row-up {
    width: 960px;
    height: 150px;
    text-align: center;
}

#container .white-section-bg .row-up h1 {
    color: #000;
    margin: 50px 0 0 0;
}

#container .white-section-bg .row-up p {
    color: #000;
}

#container .white-section-bg .row-up .separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid gray; 
}

#container .white-section-bg .row-down {
    width: 960px;
    height: 600px;
    text-align: center;
    margin: 40px auto;
}

#container .white-section-bg .row-down .box {
    width: 320px;
    height: 280px;
    float: left;
}

.row-down .box img{
    width: 70px;
    height: 70px;
}

/* ========================================================================== */

#container .tj-section-lg {
    width: 100%;
    display: block;
    height: 740px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/3rd-background.png');
    background-size: cover;
}
    
#container .tj-section-lg .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#container .tj-section-lg .column .row-up {
    width: 960px;
    height: 150px;
    text-align: center;
    padding: 10px 0 0 0;
}

#container .tj-section-lg .column .row-up h1 {
    color: #FFF;
    margin: 50px 0 0 0;
}

#container .tj-section-lg .column .row-up p {
    color: #FFF;
}

#container .tj-section-lg .column .row-up .separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid gray; 
}

#container .tj-section-lg .column .row-middle {
    width: 960px;
    height: 340px;
    text-align: center;
    margin: 40px auto;
}

#container .tj-section-lg .column .row-middle .box {
    width: 220px;
    height: 300px;
    float: left;
    margin: 40px 20px 0 0;
}

.tj-section-lg .column .row-middle .box img{
    width: 220px;
    height: 200px;
}

.tj-section-lg .row-middle .box p{
    color: #FFF;
}

#container .tj-section-lg .column .row-down {
    width: 960px;
    text-align: center;
    margin: 0 0 70px 0;
}

#container .tj-section-lg .column .row-down p {
    color: #FFF;
}

/* ========================================================================== */

#container .tj-section-colored {
    width: 100%;
    display: block;
    height: 750px;
    background: white;
    background-size: cover;
}

#container .tj-section-colored .row_up {
    width: 960px;
    height: 160px;
    background: white;
    background-size: cover;
    margin: 0 auto;
    display: block;
}

#container .tj-section-colored .row_up .left {
    float: left;
    margin: 50px 0 0 0;
    display: block;
}

#container .tj-section-colored .row_up .right {
    float:right;
    margin: 50px 0 0 0;
    display: block;
}

#container .tj-section-colored .row_up .left h1{
    margin: 0;

}

#container .tj-section-colored .row_up .right p{
    font-size: 12px;
}

#container .tj-section-colored .row_up .right a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

#container .tj-section-colored .row_up .right a:hover {
    text-decoration: none;
    color:#000;
    font-size: 14px;
    color: blue;
}

#container .tj-section-colored .row_middle {
    width: 100%;
    display: block;
    height: 400px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

#container .tj-section-colored .row_down {
    width: 960px;
    display: block;
    height: 190px;
    background: white;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 0 0;
}

.tj-section-colored .row_down .button-sm-dark:hover {
    color: #000;
    border: 1px solid #000;
}

/* ========================================================================== */

#container .tj-section-l {
    width: 100%;
    display: block;
    height: 500px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/4th-background.png');
    background-size: cover;
}
    
#container .tj-section-l .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

#container .tj-section-l .column .row-up {
    width: 960px;
    height: 350px;
    text-align: center;
    padding: 10px 0px 0 0;
}

#container .tj-section-l .column .row-up img {
    text-align: center;
    margin: 30px 0 0 0;
}

#container .tj-section-l .column .row-up img:hover {
    width: 60px;
    height: 60px;
}

#container .tj-section-l .column .row-up p {
    color: #FFF;
    margin: 30px 80px 0 80px;
}

#container .tj-section-l .column .row-down {
    width: 960px;
    height: 150px;
    text-align: center;
    margin: 0;
}

#container .tj-section-l .column .row-down .carousel-controller {
    width: 450px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

#container .tj-section-l .column .row-down .carousel-controller .arrow {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 10px;
}

#container .tj-section-l .column .row-down .carousel-controller .arrow:hover {
    width: 25px;
    height: 25px;
}

#container .tj-section-l .column .row-down .carousel-controller img {
    width: 45px;
    height: 45px;
}

#container .tj-section-l .column .row-down .carousel-controller  img:hover,
#container .tj-section-l .column .row-down .carousel-controller  img.active {
    width: 70px;
    height: 70px;
}

/* ========================================================================== */

#container .white-section-contact {

    width: 100%;
    margin: 0 auto;
    display: block;
    height: 700px;
    background-color: white;
    background-size: cover;
}

#container .white-section-contact .column-contact {
    width: 960px;
    margin: 0 auto;
    display: block;
}

#container .white-section-contact .column-contact .column-left {
    float: left;
    width: 570px;
    height: 100%;
    margin-left: 10px;
}

#container .white-section-contact .column-contact h2 {
    margin: 50px 0 0 0;
}

.column-contact .column-left .contact {
    margin: 20px 0 0 0;
}

.column-contact .column-left .contact td{
    padding: 20px 0 0 0;
}

.column-contact .column-left .contact input{
    padding: 15px 0 15px 20px;
    width: 460px;
    color: gray;
}

.column-contact .column-left .contact textarea{
    padding: 15px 0 0 20px;
    width: 470px;
    height: 200px;
    margin: 0 0 20px 0;
    color: gray;
    resize: none;
}

#container .white-section-contact .column-contact .column-right { 
    float: left;
    width: 380px;
    height: 100%;
}

.column-contact .column-right .row-left { 
    float: left;
    width: 160px;
    height: 100%;
}

.column-contact .column-right .row-left img { 
    float: left;
    padding: 50px 0 0 0;
}

.column-contact .column-right .row-right { 
    float: left;
    width: 160px;
    height: 100%;
    margin-left: 60px;
}

.column-contact .column-right .row-right img { 
    float: left;
    padding: 50px 0 0 0;
}

.column-contact .column-left .button-sm-dark:hover {
    color: #000;
    border: 1px solid #000;
}


/* ========================================================================== */

#container .tj-section-location {

    width: 100%;
    margin: 0 auto;
    display: block;
    height: 400px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/5th-background.png');
    background-size: cover;

}

#container .tj-section-location .column {
    width: 960px;
    margin: 0 auto;
    display: block;
}

#container .tj-section-location .column .column-left {
    float: left;
    width: 330px;
    height: 100%;
    margin: 70px 20px 0 10px;
}

#container .tj-section-location .column .column-middle {
    float: left;
    width: 300px;
    height: 100%;
    margin: 60px 0 0 0;
}

#container .tj-section-location .column .column-right { 
    float: left;
    width: 300px;
    height: 100%;
    margin: 60px 0 0 0;
}

#container .tj-section-location .column h3,
#container .tj-section-location .column p { 
    color: #FFF;
}

.column .column-left .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column .column-left .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: left;
    padding: 30px 0 0 0;
}

.column .column-left .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column .column-left .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.column .column-left .menubar > ul > li > a:hover, 
.column .column-left .menubar > ul > li > a.active {
    color: #00e0d0;
}

.column .column-middle .location {
    margin: 0;
    padding: 0;
}

.column .column-middle .location td {
    padding: 0 10px 0 0;
}

.column .column-middle .location img {
    padding: 0; margin:0;
}

.column .column-right input {
    background-color: transparent;
    color: gray;
    height: 40px;
    width: 210px;
    font-size: 14px;
    margin:20px 0 0 0;
    text-align: center;
    border-width: 0.5px;
}

.column .column-right .arrow {
    height: 48px;
    width: 70px;
    margin: 0 0 0 10px;
}

.column .column-right img:hover{
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
}

.column .column-right img {
    margin: 20px 0 0 0;
}

.column .column-right p {
    margin: 50px 0 0 0;
    font-size: 14px;
    text-align: right;
}

.column .column-right .media img:hover {
    width: 60px;
    height: 60px;
    margin: 5px 0 0 0;
}

/* ========================================================================== */



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}