<!DOCTYPE html>
<!DOCTYPE html>
<html>
<?php require_once("libs/Controller.php"); ?>
<head>
	<title>LaraBel</title>
</head>
<body>
	<h1><?php echo $this->message;?></h1>
	<a href="views/documentation/index.html"><h3>Documentation</a></h3>
</body>
</html> 