body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif
}
body {
    font-size: 16px;
}

#errortext { 
  resize: none;
  text-align: center;
  margin-left: 200px;
  font-size: 16px;
}

#mySidebar {
  z-index: 3;
  width: 300px;
  font-weight: bold;
}

#close {
width: 100%;
font-size: 22px;
}

#myOverlay {
cursor:pointer;
}

.w3-main {
  margin-left: 340px;
  margin-right: 40px;
}

#showcase {
  margin-top: 80px;
}

#request{
  margin-top: 75px;
}

#redhr {
  width: 50px;
  border: 5px solid red;
}

#errordialog{
  display: none;
}

#method {
  margin-right: 10px;
}

#bodyText, #bodyTest, #headertext {
  width: 1100px; 
  height: 150px; 
  resize: none;
}

#response, #contact {
  margin-top: 75px;
}

#rhead, #rbody, #ttbody {
  width: 1100px; 
  min-height: 400px; 
  resize: none;
  margin-bottom: 40px;
}

#headertext {
  width: 1100px; 
  height: 150px; 
  resize: none;
}



