/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
	height: 100%;
	width: 100%;
}

#container .section {
	width: 33%;
  display: block;
  height: auto;
  float: left;
  margin: auto 33%;
  margin-top: 20px;
  border: 3px solid #000;
}

#container .section h1 {
	text-align: center;
}

#container .section .content-top {
	 margin-left: 20px;
}

textarea {
	width: 400px;
	resize: none;
	height: 100px;
	margin-top: 10px;
}

#task {
	width: 250px;
}

#add {
	width: 100px;
	margin-left: 20px;
}

.separator {
  width: 200px;
  height: 1px;
  margin: 30px auto;
  display: block; 
  margin-bottom: 0;
  border-top: 1px solid #000;
}

#container .section .content-buttom {
	width: 95%;
	height: auto;
	margin: 0 10px 0 10px;
}

.separate {
	width: 2px;
  height: 100px;
  display: block;
  margin: 20px auto;
  border-left: 1px solid #000; 
}

#container .section .content-buttom .note {
	width: 410px;
	margin: 10px 0 10px 10px;
}

#container .section .content-buttom table tr {
	width: 400px;
	margin-top: 20px;
	margin: 10px 0 0 0;
	border: 2px solid #000;
}

#container .section .content-buttom table td {
	padding: 0 0 0 10px;
}

#container .section .content-buttom table p {
	margin-top: 0;
}

#left{
	width:350px;
	padding: 0 0 0 10px;
}

#container .section .content-clear {
	margin:20px auto;
	text-align: center;
}

#clear {
	color: white;
	background-color: red;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}